name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Install Flutter SDK
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.3"  # or your version

      # Get dependencies
      - name: Install dependencies
        run: flutter pub get

      # Analyze
      - name: Analyze project
        run: flutter analyze

      # Run tests (optional)
      - name: Run tests
        run: flutter test
